@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:#000000;
    --cor1:#ffffff;
    --cor2:#00000040;
    --font:Arial,helvetica,sans-serif;
    --font1: Verdana, Geneva, Tahoma, sans-serif;
}
/*-----------------Body---------------------*/
body{
    min-height: 100vh;
    margin: auto;
}
/*---------------Cabeçahlo------------------*/

header{
    background-color:var(--cor0);
    font-family:var(--font1);
    color:var(--cor1);
}
header>h1{
    font-variant: small-caps;
    text-align:center;
    padding-top:50px;
    font-size: 6.5vw;
}

header>nav{
    font-family:var(--font1);
    color: var(--cor1);
    text-align: center;
    max-width:50%;
    padding:10px;
    margin:auto;
}

header>nav>p{
    padding-bottom:50px;
    font-size: 0.8em;

}

header>nav a{

    text-decoration:none;
    color: var(--cor1);
    font-weight: bold;
    font-size: 1em;

}
header >nav a:hover{
    text-decoration: underline;
}


/*-----------------Conteudo-----------------*/
main{
    background-color: var(--cor1);
    font-family: var(--font);
}

/*---------------Conteudo 1------------------*/

main #seccao1{

    box-shadow: 1px 2px 3px var(--cor0);
    padding: 50px 20px;
    line-height:2em;
    font-size:1.3em;
}

/*-------------Conteudo 2-------------------*/

main #seccao2{
    background: var(--cor2) url(../Imagem/ladybug-640.jpg) center bottom no-repeat fixed;
    background-size:cover;
    padding: 50px 20px;
    line-height:2em;
    font-size:1.3em;
}
main #seccao2 #article_seccao2{
    background-color: var(--cor2);
    color: var(--cor1);
    display: inline-block;
    padding:10px;
}

/*----------Conteudo 3----------------------*/

main #seccao3{

    box-shadow: 1px 2px 3px var(--cor0);
    padding: 50px 20px;
    font-size: 1.3em;
    line-height:2em;


}

main #seccao3 #article0_seccao3{
    padding: 30px 10px;
}

main #seccao3 #article1_seccao3{
    padding: 30px 10px;
}

/*--------Conteudo 4 -----------------------*/

main #seccao4{
    background:var(--cor2) url(../Imagem/old-letters-1280.jpg) center center no-repeat fixed;
    background-size: cover;
    color: var(--cor1);
    padding:50px 20px;
    line-height:2em;
    font-size:1.3em;
}

#article_seccao4{
    background-color: var(--cor2);
    display: inline-block;
    color: var(--cor1);
    padding:10px;

}

/*--------Conteudo 5 -------------------*/

main #seccao5{
    box-shadow: 1px 2px 3px var(--cor0);
    padding: 50px 20px;
    font-size: 1.3em;
    line-height:2em;


}
main #seccao5 #article0_seccao5{
    padding: 30px 10px;
}

main #seccao5 #article1_seccao5{
    padding: 30px 10px;
}

/*-----------------Rodapé-------------------*/
footer{
    background-color: var(--cor0);
    font-family: var(--font1);
    color: var(--cor1);
    text-align: center;
    font-size: 1em;
    padding: 5px;
}
footer>p>a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;

}
footer>p>a:hover{
    text-decoration: underline;
}
